<a href="https://colab.research.google.com/github/manugupta-or/Coursera_aiscm/blob/main/LogReg_New_supplier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression

## Importing the libraries

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix

## Importing the dataset

In [3]:
dataset = pd.read_csv('supplier_data.csv')
dataset

,Supplier ID,Cost,Quality,Delivery time,Reliability,Flexibility,Capacity,Innovation,Reputation,Financial stability,...,Safety record,Technical expertise,Customer service,Lead time,Responsiveness,Contract terms,Diversity,Sustainability,Scalability,Supplier’s default
0,1001,0.874,0.758,0.082,0.114,0.082,0.871,0.240,0.166,0.478,...,0.130,0.947,0.463,0.969,0.044,0.812,0.044,0.853,0.663,0
1,1002,0.972,0.694,0.955,0.963,0.244,0.849,0.001,0.682,0.713,...,0.033,0.242,0.867,0.523,0.583,0.968,0.490,0.515,0.028,1
2,1003,0.827,0.413,0.199,0.577,0.127,0.232,0.476,0.951,0.805,...,0.060,0.192,0.446,0.145,0.568,0.081,0.822,0.826,0.158,1
3,1004,0.422,0.555,0.969,0.760,0.773,0.011,0.358,0.288,0.847,...,0.209,0.280,0.699,0.863,0.423,0.271,0.960,0.469,0.914,0
4,1005,0.767,0.958,0.915,0.719,0.715,0.553,0.651,0.133,0.578,...,0.351,0.131,0.406,0.963,0.939,0.981,0.004,0.013,0.575,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1996,0.201,0.260,0.060,0.823,0.220,0.745,0.614,0.365,0.804,...,0.269,0.010,0.502,0.154,0.547,0.407,0.813,0.135,0.277,0
996,1997,0.128,0.408,0.611,0.774,0.351,0.615,0.114,0.215,0.359,...,0.507,0.652,0.212,0.135,0.596,0.996,0.081,0.069,0.905,0
997,1998,0.910,0.308,0.381,0.818,0.671,0.500,0.031,0.378,0.374,...,0.470,0.401,0.677,0.072,0.744,0.520,0.748,0.069,0.403,0
998,1999,0.408,0.271,0.921,0.648,0.948,0.562,0.050,0.061,0.627,...,0.372,0.093,0.694,0.154,0.957,0.930,0.280,0.863,0.959,0
999,2000,0.518,0.319,0.344,0.597,0.704,0.353,0.427,0.309,0.890,...,0.564,0.181,0.086,0.162,0.222,0.600,0.825,0.499,0.541,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Supplier ID            1000 non-null   int64
 1   Cost                   1000 non-null   float64
 2   Quality                1000 non-null   float64
 3   Delivery time          1000 non-null   float64
 4   Reliability            1000 non-null   float64
 5   Flexibility            1000 non-null   float64
 6   Capacity               1000 non-null   float64
 7   Innovation             1000 non-null   float64
 8   Reputation             1000 non-null   float64
 9   Financial stability    1000 non-null   float64
 10  Environmental impact   1000 non-null   float64
 11  Social responsibility  1000 non-null   float64
 12  Safety record          1000 non-null   float64
 13  Technical expertise    1000 non-null   float64
 14  Customer service       1000 non-null   float64
 15  Lead time              1000 non-null   float64
 16  Responsiveness         1000 non-null   float64
 17  Contract terms         1000 non-null   float64
 18  Diversity              1000 non-null   float64
 19  Sustainability         1000 non-null   float64
 20  Scalability            1000 non-null   float64
 21  Supplier’s default     1000 non-null   int64
dtypes: float64(20), int64(2)
memory usage: 172.0 KB

In [5]:
#Extracting the feature into X, 
X = dataset.iloc[:, 1:-1].values

#Extracting the target into y
y = dataset.iloc[:, -1].values
print(X)

[[0.874 0.758 0.082 ... 0.044 0.853 0.663]
 [0.972 0.694 0.955 ... 0.49  0.515 0.028]
 [0.827 0.413 0.199 ... 0.822 0.826 0.158]
 ...
 [0.91  0.308 0.381 ... 0.748 0.069 0.403]
 [0.408 0.271 0.921 ... 0.28  0.863 0.959]
 [0.518 0.319 0.344 ... 0.825 0.499 0.541]]

## Splitting the dataset into the Training set and Test set

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
test_size = 0.3, random_state = 0)

## Training the Logistic Regression model on the Training set

In [7]:
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression()

## Predicting the Test set results

In [8]:
y_pred = classifier.predict(X_test)

## Making the Confusion Matrix

In [9]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[215  12]
 [ 29  44]]

In [10]:
accuracy = metrics.accuracy_score(y_test,y_pred)
print(accuracy)

0.8633333333333333

In [11]:
#printing classification report
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.95      0.91       227
           1       0.79      0.60      0.68        73

    accuracy                           0.86       300
   macro avg       0.83      0.77      0.80       300
weighted avg       0.86      0.86      0.86       300

In [12]:
risk_prediction_data = pd.read_csv('New_supplier_data.csv')
risk_prediction_data

,Supplier ID,Cost,Quality,Delivery time,Reliability,Flexibility,Capacity,Innovation,Reputation,Financial stability,...,Social responsibility,Safety record,Technical expertise,Customer service,Lead time,Responsiveness,Contract terms,Diversity,Sustainability,Scalability
0,Supplier 1,0.671,0.554,0.455,0.366,0.952,0.756,0.239,0.377,0.777,...,0.318,0.143,0.679,0.502,0.150,0.400,0.039,0.277,0.829,0.077
1,Supplier 2,0.674,0.393,0.688,0.507,0.693,0.469,0.338,0.178,0.619,...,0.823,0.204,0.118,0.757,0.256,0.488,0.007,0.977,0.835,0.566
2,Supplier 3,0.788,0.572,0.845,0.148,0.426,0.879,0.364,0.601,0.841,...,0.312,0.211,0.129,0.315,0.497,0.316,0.309,0.380,0.309,0.487
3,Supplier 4,0.848,0.368,0.481,0.773,0.172,0.206,0.154,0.481,0.763,...,0.984,0.919,0.500,0.450,0.546,0.452,0.108,0.317,0.005,0.737
4,Supplier 5,0.260,0.795,0.957,0.879,0.061,0.778,0.900,0.119,0.863,...,0.316,0.728,0.447,0.003,0.826,0.435,0.464,0.803,0.882,0.548

In [13]:
risk_prediction_data_features = risk_prediction_data.drop(['Supplier ID'], axis=1)

In [14]:
risk_prediction_data_features

,Cost,Quality,Delivery time,Reliability,Flexibility,Capacity,Innovation,Reputation,Financial stability,Environmental impact,Social responsibility,Safety record,Technical expertise,Customer service,Lead time,Responsiveness,Contract terms,Diversity,Sustainability,Scalability
0,0.671,0.554,0.455,0.366,0.952,0.756,0.239,0.377,0.777,0.709,0.318,0.143,0.679,0.502,0.150,0.400,0.039,0.277,0.829,0.077
1,0.674,0.393,0.688,0.507,0.693,0.469,0.338,0.178,0.619,0.388,0.823,0.204,0.118,0.757,0.256,0.488,0.007,0.977,0.835,0.566
2,0.788,0.572,0.845,0.148,0.426,0.879,0.364,0.601,0.841,0.643,0.312,0.211,0.129,0.315,0.497,0.316,0.309,0.380,0.309,0.487
3,0.848,0.368,0.481,0.773,0.172,0.206,0.154,0.481,0.763,0.744,0.984,0.919,0.500,0.450,0.546,0.452,0.108,0.317,0.005,0.737
4,0.260,0.795,0.957,0.879,0.061,0.778,0.900,0.119,0.863,0.902,0.316,0.728,0.447,0.003,0.826,0.435,0.464,0.803,0.882,0.548

In [15]:
Suppliers_risk_probs = classifier.predict_proba(risk_prediction_data_features)
Suppliers_risk_probs

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array([[0.86023496, 0.13976504],
       [0.49388228, 0.50611772],
       [0.91561361, 0.08438639],
       [0.90594794, 0.09405206],
       [0.46492484, 0.53507516]])

In [16]:
Suppliers_default_probs = Suppliers_risk_probs[:, 1]
Suppliers_default_probs

array([0.13976504, 0.50611772, 0.08438639, 0.09405206, 0.53507516])